thinpad_top/vivado*
thinpad_top/thinpad_top.runs
thinpad_top/thinpad_top.sim
thinpad_top/thinpad_top.cache
thinpad_top/thinpad_top.hw
thinpad_top/thinpad_top.ip_user_files
thinpad_top/thinpad_top.xpr
